<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <!-- MAIN -->
    <main class="emergency__main">

      <!-- TOP -->
      <div class="emergency__main__top">
        <!-- MEDITATE -->
        <div id="meditate" class="emergency__main__top__left">
          <div class="emergency__main__top__left--container">
            <h1 class="emergency__main__top__left--title">
              Meditate
            </h1>
          </div>
          <div class="meditation__timer__container">
            <div class="meditation__timer__container--timer">
              0:00
            </div>
          </div>
          <div class="meditation__what__is__container">
            <div class="meditation__what__is__container--title">
              What is meditation?
            </div>
          </div>
        </div>

        <!-- RIGHT SIDE BAR -->
        <div class="emergency__main__top__right">
          <a id="someone__to__talk__to" class="emergency__main__top__right__item" href="https://discord.gg/YETRkSj">
            <h3 class="emergency__main__top__right__item--title">
              Need someone to talk to?
            </h3>
            <img class="emergency__main__top__right__item--logo discord__logo" src="/images/discord__logo.png" alt="Discord Logo">
          </a>
          <a id="need__a__community__to__join" class="emergency__main__top__right__item" href="https://www.reddit.com/r/NeverFapDeluxe/">
            <h3 class="emergency__main__top__right__item--title">
              Need a community to join?
            </h3>
            <img class="emergency__main__top__right__item--logo reddit__logo" src="/images/reddit__logo.png" alt="Reddit Logo">
          </a>
          <a id="mental__health__services" class="emergency__main__top__right__item" href="https://neverfapdeluxe.com/">
            <h3 class="emergency__main__top__right__item--title">
              Need to learn the basics?
            </h3>
            <img class="emergency__main__top__right__item--logo nfd__logo" src="/images/logo.png" alt="NeverFap Deluxe Logo">
          </a>
        </div>
      </div>

      <!-- BOTTOM -->
      <div id="emergency__main__bottom" class="emergency__main__bottom">
        <a href="#emergency__main__bottom" id="heres__what__happened" class="emergency__main__bottom__item--selected">
          <h2 class="emergency__main__bottom__item--title">
            Here's What Happened
          </h2>
        </a>
        <a href="#emergency__main__bottom" id="heres__what__wont__work" class="emergency__main__bottom__item">
          <h2 class="emergency__main__bottom__item--title">
            Here's What Won't Work
          </h2>
        </a>
        <a href="#emergency__main__bottom" id="heres__what__will" class="emergency__main__bottom__item">
          <h2 class="emergency__main__bottom__item--title">
            Here's What Will
          </h2>
        </a>
      </div>

      <div id="emergency__main__bottom__responses" class="emergency__main__bottom__responses">
        <div id="heres__what__happened__response" class="emergency__main__bottom__responses__item">
          <h2 class="emergency__main__bottom__responses__item--title">
            Here's What Happened
          </h2>
          <p>You lost balance over your mind.</p>
          <p>Maybe you were feeling stressed. Maybe you felt depressed. Perhaps you struggled to sleep last night.</p>
          <p>Either way, your mind has lost balance and you are no longer calm and in control of yourself.</p>
          <h3>Your aim at this point is to regain control over your mind.</h3>

          <p>Either you take the steps to move forward and regain control, or you don't.</p>
          <p>There is no other alternative.</p>

          <div style="flex-direction: row-reverse;" class="emergency__main__bottom__responses--buttons">
            <a href="#emergency__main__bottom" id="heres__what__happened__responseNextButton" class="emergency__main__bottom__responses--button">
              <h5 class="emergency__main__bottom__responses--title">
                Next.
              </h5>
            </a>
          </div>

        </div>
        <div id="heres__what__wont__work__response" class="emergency__main__bottom__responses__item">
          <h2 class="emergency__main__bottom__responses__item--title">
            Here's What Won't Work
          </h2>
          <p>Here are list of things which won't meaningfully help you.</p>
          <p>They will not help you because they will not assist you in developing control over your mind in any way.</p>
          <h3>In other words, these are a list of Unhealthy Coping Mechanisms.</h3>
          <p>Maybe you already actively pursue them.</p>

          <div class="guide__banner" style="border-bottom: 4px solid black;">
            <div class="guide__suggestion__container">
              <div class="black__banner__title__container">
                <p class="articles__link cursor__default" style="background: #f5f6f6; font-size: 1.2rem;">
                  Reacting to our feelings and emotions, because we think we need to "do something" in order to overcome them.
                </p>
                <p class="articles__link cursor__default" style="background: #f5f6f6; font-size: 1.2rem;">
                  Attempting to distract ourselves because we feel as if we're not "busy" enough.
                </p>
                <p class="articles__link cursor__default" style="background: #f5f6f6; font-size: 1.2rem;">
                  Seeking motivation via inspirational videos because apparently we lack "willpower".
                </p>
                <p class="articles__link cursor__default" style="background: #f5f6f6; font-size: 1.2rem;">
                  Escaping our feelings and emotions by trying to keep ourselves preoccupied.
                </p>
              </div>
            </div>
          </div>


          <div class="emergency__main__bottom__responses--buttons">
            <a href="#emergency__main__bottom" id="heres__what__wont__work__responsePreviousButton" class="emergency__main__bottom__responses--button">
              <h5 class="emergency__main__bottom__responses--title">
                Previous.
              </h5>
            </a>

            <a href="#emergency__main__bottom" id="heres__what__wont__work__responseNextButton" class="emergency__main__bottom__responses--button">
              <h5 class="emergency__main__bottom__responses--title">
                Next.
              </h5>
            </a>
          </div>

        </div>
        <div id="heres__what__will__response" class="emergency__main__bottom__responses__item">
          <h2 class="emergency__main__bottom__responses__item--title">
            Here's What Will
          </h2>
          <p>Learning to remain calm and aware of yourself.</p>
          <p>In fact, if you were able to remain calm you wouldn't be struggling right now, as it's literally impossible to experience urges or crave porn when your mind is fully calm and in balance with itself.</p>
          <h3>The good news is that it is possible to remain calm 100% of the time, as it's a skill no different to learning to play the piano.</h3>
          <p>It's simply a matter of practice and consistency, and the way we do this is through meditation.</p>
          
          <div style="border-bottom: 2px solid black; margin-bottom: 1.6rem; margin-up: 1.6rem;"></div>
          <div class="educate__yourself__container">
            <h2>Educate yourself</h2>
            <div class="educate__yourself__inner">
              <a href="https://neverfapdeluxe.com/" class="educate__yourself__container__item">
                <p class="educate__yourself__container__item--title">/</p>
              </a>
              <a href="https://neverfapdeluxe.com/summary" class="educate__yourself__container__item">
                <p class="educate__yourself__container__item--title">/summary</p>
              </a>
              <a href="https://neverfapdeluxe.com/guide" class="educate__yourself__container__item">
                <p class="educate__yourself__container__item--title">/guide</p>
              </a>
            </div>
          </div>

        </div>
      </div>


      <!-- FOOTER -->
      <footer class="emergency__footer">
        <div class="emergency__footer__social">
          NeverFap Deluxe is a comprehensive porn addiction recovery platform.
        </div>
      </footer>

    </main>

  </body>

  <script>
    var meditate = document.querySelector('#meditate');

    var heres__what__happened = document.querySelector('#heres__what__happened');
    var heres__what__wont__work = document.querySelector('#heres__what__wont__work');
    var heres__what__will = document.querySelector('#heres__what__will');

    var heres__what__happened__response = document.querySelector('#heres__what__happened__response');
    var heres__what__wont__work__response = document.querySelector('#heres__what__wont__work__response');
    var heres__what__will__response = document.querySelector('#heres__what__will__response');

    var heres__what__happened__responseNextButton = document.querySelector('#heres__what__happened__responseNextButton');
    var heres__what__wont__work__responsePreviousButton = document.querySelector('#heres__what__wont__work__responsePreviousButton');
    var heres__what__wont__work__responseNextButton = document.querySelector('#heres__what__wont__work__responseNextButton');

    meditate.onclick = null;

    heres__what__happened.onclick = heresWhatHappenedPrompt;
    heres__what__wont__work.onclick = heresWhatWontWorkPrompt;
    heres__what__will.onclick = heresWhatWillPrompt;

    heres__what__happened__responseNextButton.onclick = heresWhatWontWorkPrompt;
    heres__what__wont__work__responsePreviousButton.onclick = heresWhatHappenedPrompt;
    heres__what__wont__work__responseNextButton.onclick = heresWhatWillPrompt;

    function heresWhatHappenedPrompt(event) {
      heres__what__happened.classList.remove('emergency__main__bottom__item');
      heres__what__wont__work.classList.remove('emergency__main__bottom__item--selected');
      heres__what__will.classList.remove('emergency__main__bottom__item--selected');

      heres__what__happened.classList.add('emergency__main__bottom__item--selected');
      heres__what__wont__work.classList.add('emergency__main__bottom__item');
      heres__what__will.classList.add('emergency__main__bottom__item');

      heres__what__happened__response.style.display = 'block';
      heres__what__wont__work__response.style.display = 'none';
      heres__what__will__response.style.display = 'none';
    }

    function heresWhatWontWorkPrompt(event) {
      heres__what__happened.classList.remove('emergency__main__bottom__item--selected');
      heres__what__wont__work.classList.remove('emergency__main__bottom__item');
      heres__what__will.classList.remove('emergency__main__bottom__item--selected');

      heres__what__happened.classList.add('emergency__main__bottom__item');
      heres__what__wont__work.classList.add('emergency__main__bottom__item--selected');
      heres__what__will.classList.add('emergency__main__bottom__item');

      heres__what__happened__response.style.display = 'none';
      heres__what__wont__work__response.style.display = 'block';
      heres__what__will__response.style.display = 'none';
    }

    function heresWhatWillPrompt(event) {
      heres__what__happened.classList.remove('emergency__main__bottom__item--selected');
      heres__what__wont__work.classList.remove('emergency__main__bottom__item--selected');
      heres__what__will.classList.remove('emergency__main__bottom__item');

      heres__what__happened.classList.add('emergency__main__bottom__item');
      heres__what__wont__work.classList.add('emergency__main__bottom__item');
      heres__what__will.classList.add('emergency__main__bottom__item--selected');

      heres__what__happened__response.style.display = 'none';
      heres__what__wont__work__response.style.display = 'none';
      heres__what__will__response.style.display = 'block';
    }

  </script>
</html>


<!--
// var someone__to__talk__to = document.querySelector('#someone__to__talk__to');
// var need__a__community__to__join = document.querySelector('#need__a__community__to__join');
// var mental__health__services = document.querySelector('#mental__health__services');

// someone__to__talk__to.onclick = function(event) {

// };
// need__a__community__to__join.onclick = function(event) {

// };
// mental__health__services.onclick = function(event) {

// }; -->
