<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <!-- MAIN -->
    <main class="tracker__main">

      <div>
        Soooooo trackers don't work. They don't help you develop control over your mind. It's that simple.
      </div>

      <!-- FOOTER -->
      <footer class="tracker__footer">
        <div class="tracker__footer__social">
          NeverFap Deluxe is a comprehensive porn addiction recovery platform.
        </div>
      </footer>

    </main>

  </body>

  <script>
    var meditate = document.querySelector('#meditate');

    var heres__what__happened = document.querySelector('#heres__what__happened');
    var heres__what__wont__work = document.querySelector('#heres__what__wont__work');
    var heres__what__will = document.querySelector('#heres__what__will');

    var heres__what__happened__response = document.querySelector('#heres__what__happened__response');
    var heres__what__wont__work__response = document.querySelector('#heres__what__wont__work__response');
    var heres__what__will__response = document.querySelector('#heres__what__will__response');

    var heres__what__happened__responseNextButton = document.querySelector('#heres__what__happened__responseNextButton');
    var heres__what__wont__work__responsePreviousButton = document.querySelector('#heres__what__wont__work__responsePreviousButton');
    var heres__what__wont__work__responseNextButton = document.querySelector('#heres__what__wont__work__responseNextButton');

    meditate.onclick = null;

    heres__what__happened.onclick = heresWhatHappenedPrompt;
    heres__what__wont__work.onclick = heresWhatWontWorkPrompt;
    heres__what__will.onclick = heresWhatWillPrompt;

    heres__what__happened__responseNextButton.onclick = heresWhatWontWorkPrompt;
    heres__what__wont__work__responsePreviousButton.onclick = heresWhatHappenedPrompt;
    heres__what__wont__work__responseNextButton.onclick = heresWhatWillPrompt;

    function heresWhatHappenedPrompt(event) {
      heres__what__happened.classList.remove('tracker__main__bottom__item');
      heres__what__wont__work.classList.remove('tracker__main__bottom__item--selected');
      heres__what__will.classList.remove('tracker__main__bottom__item--selected');

      heres__what__happened.classList.add('tracker__main__bottom__item--selected');
      heres__what__wont__work.classList.add('tracker__main__bottom__item');
      heres__what__will.classList.add('tracker__main__bottom__item');

      heres__what__happened__response.style.display = 'block';
      heres__what__wont__work__response.style.display = 'none';
      heres__what__will__response.style.display = 'none';
    }

    function heresWhatWontWorkPrompt(event) {
      heres__what__happened.classList.remove('tracker__main__bottom__item--selected');
      heres__what__wont__work.classList.remove('tracker__main__bottom__item');
      heres__what__will.classList.remove('tracker__main__bottom__item--selected');

      heres__what__happened.classList.add('tracker__main__bottom__item');
      heres__what__wont__work.classList.add('tracker__main__bottom__item--selected');
      heres__what__will.classList.add('tracker__main__bottom__item');

      heres__what__happened__response.style.display = 'none';
      heres__what__wont__work__response.style.display = 'block';
      heres__what__will__response.style.display = 'none';
    }

    function heresWhatWillPrompt(event) {
      heres__what__happened.classList.remove('tracker__main__bottom__item--selected');
      heres__what__wont__work.classList.remove('tracker__main__bottom__item--selected');
      heres__what__will.classList.remove('tracker__main__bottom__item');

      heres__what__happened.classList.add('tracker__main__bottom__item');
      heres__what__wont__work.classList.add('tracker__main__bottom__item');
      heres__what__will.classList.add('tracker__main__bottom__item--selected');

      heres__what__happened__response.style.display = 'none';
      heres__what__wont__work__response.style.display = 'none';
      heres__what__will__response.style.display = 'block';
    }

  </script>
</html>


<!--
// var someone__to__talk__to = document.querySelector('#someone__to__talk__to');
// var need__a__community__to__join = document.querySelector('#need__a__community__to__join');
// var mental__health__services = document.querySelector('#mental__health__services');

// someone__to__talk__to.onclick = function(event) {

// };
// need__a__community__to__join.onclick = function(event) {

// };
// mental__health__services.onclick = function(event) {

// }; -->
